* {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  background-color: var(--background-color);
}

a {
  color: var(--text-link);
  text-decoration: none;
  position: relative;

  &.link {
    transition: color 0.2s ease-in-out;
    //
    //&--white {
    //
    //  &:hover {
    //    color: $ui-1;
    //  }
    //}
    //
    //&--black {
    //
    //  &:hover {
    //    color: $ui-10;
    //  }
    //}

    &--line {

      &:after {
        display: block;
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 2px;
        background-color: var(--text-link);
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        &:after {
          width: 110%;
          left: -5%;
        }
      }
    }
  }
}
