@mixin underline($width: 10%) {
  position: relative;

  &:after {
    display: block;
    content: " ";
    width: 15%;
    height: 3px;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--yellow);

    @media #{$sm-up} {
      width: $width;
      bottom: 5%;
      left: 0;
      transform: none;
    }
  }
}

@mixin scrollbars($foreground-color, $background-color: transparent, $size: 0) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For firefox
  scrollbar-color: $foreground-color $background-color;
  scrollbar-width: thin;
}
