<div class="container">
  <div class="container__left-content">
    <div class="content__overlay"></div>

    <wk-animated-field></wk-animated-field>
  </div>
  <div class="container__right-content">
    <div class="language-selector">
      <div class="theme-switcher">
        <i (click)="themeService.switchTheme('dark')"
           class="wk-icon wk-icon-moon"
           [class.hidden]="themeService.currentTheme === 'dark'"
           [title]="'THEME.SWITCH' | translate"></i>
        <i (click)="themeService.switchTheme('light')"
           class="wk-icon wk-icon-sun"
           [class.hidden]="themeService.currentTheme === 'light'"
           [title]="'THEME.SWITCH' | translate"></i>
      </div>
      <span class="language-item"
            (click)="languageService.switchLanguage('nl_NL')"
            [title]="(languageService.currentLanguage !== 'nl_NL' ? 'TRANSLATION.SWITCH' : '') | translate"
            [ngClass]="{'language-item--active': languageService.currentLanguage === 'nl_NL'}">NL</span>
      <span class="language-item"
            (click)="languageService.switchLanguage('en_US')"
            [title]="(languageService.currentLanguage !== 'en_US' ? 'TRANSLATION.SWITCH' : '') | translate"
            [ngClass]="{'language-item--active': languageService.currentLanguage === 'en_US'}">EN</span>
    </div>
    <div class="content">
      <div class="content__header">

        <h5 class="content__header-label">
          {{ 'HEADER.LABEL' | translate }}
        </h5>

        <h1 class="content__header-title">
          {{ 'HEADER.NAME' | translate }}
        </h1>

        <p class="content__header-description"
           [innerHtml]="'HEADER.DESCRIPTION' | translate">
        </p>
      </div>
    </div>
  </div>
</div>
