@import "_base/fontSize";
@import "_base/media";

.section {
  height: 100%;
  background: var(--background-color);
  z-index: 1;
  position: relative;
}

@media #{$sm-up} {
  .section {
    padding: 20px;
  }
}
