<wk-header></wk-header>
<wk-content-section
  [label]="'ABOUT.LABEL'"
  [title]="'ABOUT.TITLE'"
  [titleExtras]="['ABOUT.TRAVELING','ABOUT.EATING','ABOUT.SLEEPING']"
  [texts]="['ABOUT.INFO--FIRST','ABOUT.INFO--SECOND','ABOUT.INFO--THIRD']">
</wk-content-section>
<wk-work-section>
</wk-work-section>
<wk-content-section
  [label]="'SKILL_SET.LABEL'"
  [title]="'SKILL_SET.TITLE'"
  [texts]="['SKILL_SET.INFO--FIRST','SKILL_SET.INFO--SECOND','SKILL_SET.INFO--THIRD']">
</wk-content-section>
<wk-contact-section>
</wk-contact-section>
